<template>
  <div class="hello">
    Ronaldo: {{ message }}, Count {{ count }}
  </div>
</template>

<script>
export default {
  name: 'FootballPlayer',
  computed: {
    message() {
      return this.$store.getters.message
    },
    count() {
      return this.$store.getters.count
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
