<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">

    <app-football-player></app-football-player>
    <app-basketball-player></app-basketball-player>

    <hr>
    Number: {{ count }}  
    <input type="button" value="increment by 10" @click="increment()">
  </div>
</template>

<script>
export default {
  name: 'app',
  components: {
  },
  methods: {
    increment() {
      this.$store.dispatch('increment', 10)
    }
  },
  computed: {
    count() {
      return this.$store.getters.count
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
